---
layout: blog
title: 文章分类
---



<div class="uk-container-small uk-align-center" uk-height-viewport="expand:true">	
    
	<div class="uk-child-width-expand uk-child-heigth-expend uk-grid-small" uk-grid>
        
    <div>
        {% for category in site.categories %}
        <div class="uk-card uk-card-default uk-card-body uk-margin-bottom">
            <h3 class="uk-card-title"><a class="uk-link-heading" name="{{ category | first }}">{{ category | first }}</a> <span class="uk-badge"> {{ category | last | size }} </span></h3>
            <dl class="uk-description-list">
                {% for post in category.last %}
                <dt>({{ post.date | date:"%Y/%m/%d"}}) <a href="{{ post.url }}">{{ post.title }}</a></dt>
                {% endfor %}
            </dl>
        </div>
        {% endfor %}		
    </div>
    
    <div class="uk-width-1-3@m uk-visible@m">
        <div class="uk-card uk-card-default uk-card-body">
            <ul class="uk-nav uk-nav-default">
                <li><a> 分类 </a></li>
            {% for category in site.categories %}
                <li><a href="{{ site.baseurl}}/category.html#{{ category.first }}">{{category.first}}（{{category.last.size}}）</a></li>
            {% endfor %}
            </ul>
        </div>
    
    </div>

    
    
</div>

</div>




