<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<title>{{page.title}} - Blog - UINI.IN</title>
<meta content="uini.in" name="keywords" />
<meta content="uini.in" name="description" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
<link rel="stylesheet" href="https://uini.in/css/uini.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
</head>
<body>

<div class="uk-container-expand uk-background-secondary">
	<div class="uk-container-small uk-align-center">
		<nav class="uk-navbar-container" uk-navbar>
			<div class="uk-navbar-left">
				<a href="http://uini.in" class="uk-navbar-item uk-logo">UINI.IN</a>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">				
					<li><a href="https://uini.in/items.html" class="uk-navbar-item" uk-icon="list"></a></li>
					<li><a href="https://uini.in/blog/" class="uk-navbar-item" uk-icon="pencil"></a></li>
					<li><a href="https://github.com/seatop/uini.in" class="uk-navbar-item" uk-icon="github-alt"></a></li>
				</ul>			
			</div>
		</nav>
	</div>
</div>

<div class="uk-container-small uk-align-center" uk-height-viewport="expand:true">	

	
	<div class="uk-child-width-expand uk-child-heigth-expend uk-grid-small" uk-grid>
        
    <div>
    	<div class="uk-card uk-card-default uk-card-body uk-margin-bottom">
    		<article class="uk-article">
			    <h1 class="uk-article-title uk-background-primary">{{ page.title }}</h1>
			    <p class="uk-article-meta"><time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time></p>
			    <div>{{ content }}</div>
			</article>
		</div>

		<div class="uk-card uk-card-default uk-card-body">
    		<ul class="uk-list uk-list-striped">
    			{% if page.previous.url %}
			    <li>上一篇：<a href="{{ page.previous.url}}">{{ page.previous.title}}</a></li>
			    {% endif %}
			    {% if page.next.url %}
			    <li>下一篇：<a href="{{ page.next.url}}">{{ page.next.title}}</a></li>
			    {% endif %}			    
			</ul>
		</div>
		
    </div>
    
    <div class="uk-width-1-3@m uk-visible@m">
        <div class="uk-card uk-card-default uk-card-body">
            <ul class="uk-nav uk-nav-default">
                <li><a> 分类 </a></li>
            {% for category in site.categories %}
                <li><a href="{{ site.baseurl}}/category.html#{{ category.first }}">{{category.first}}（{{category.last.size}}）</a></li>
            {% endfor %}
            </ul>
        </div>
    
    </div>

    
    
    </div>

</div>

<div class="uk-container-expand uk-background-secondary">
	<nav class="uk-navbar-container" uk-navbar>
		<div class="uk-navbar-center">
			<ul class="uk-navbar-nav">
				<li><a href="https://seatop.me" class="uk-navbar-item" uk-icon="mail"></a></li>
				<li><a href="https://getuikit.com" class="uk-navbar-item" uk-icon="uikit"></a></li>
				<li><a href="https://github.com/" class="uk-navbar-item" uk-icon="github"></a></li>
			</ul>			
		</div>
	</nav>
</div>

</body>
</html>
